<%- include("partials/header.ejs") %>

	  <form id="formCityName" method="POST" class="row g-3 justify-content-center">
      <div class="mb-3 col-auto">        
        <input type="text" id="locationByName"  name="locationByName" class="form-control   text-center" placeholder="Type your city name.">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-personal">Search</button>
      </div>
      </div>
	  </form>
  </div>
</div>



<%-include("partials/footer.ejs")%>