<%- include("partials/header.ejs") %>
        <h2 class="text-secondary">whenever and wherever you are!</h2>
				<p class="col-lg-8 mx-auto fs-5 text-muted">
					This webpage is developed to learn public API's usage. Check your
					weather by clicking the button.
				</p>
	    <form id="cityForm" method="POST" action="/submit-city" class="mt-5 px-5">
        <div class="mb-3 col-auto">        
          <input type="text" name="cityName" class="form-control   text-center" placeholder="Type your city name. Ex: Valencia, Valencia, SP">
        </div>
	    </form>
	    <form id="coordForm" method="POST" action="/submit-coord" class="px-5">
        <div class="mb-3 col-auto">        
          <input type="text" name="latitude" class="form-control   text-center" placeholder="Type your Latitude.">
        </div>
        <div class="mb-3 col-auto">        
          <input type="text" name="longitude" class="form-control   text-center" placeholder="Type your Longitude.">
        </div>
	    </form>
      <div class="col-auto">
        <button type="submit" id="submitButton" class="btn btn-personal">Search</button>
      </div>
    </div>
  </div>

<%-include("partials/footer.ejs")%>

<script>
  document.getElementById('submitButton').addEventListener('click', function() {
    var cityForm = document.getElementById('cityForm');
    var coordForm = document.getElementById('coordForm');

    if (cityForm.querySelector('input[name="cityName"]').value) {
      cityForm.submit(); // Submit city form
    } else if (coordForm.querySelector('input[name="latitude"]').value &&
               coordForm.querySelector('input[name="longitude"]').value) {
      coordForm.submit(); // Submit coordinates form
    } else {
      alert('Please fill in the required fields.');
    }
  });
</script>